.formContainer{
   flex: 1;
    flex-wrap: wrap;
    position: relative;
  
  .phoneSvg {
    @apply stroke-yellow-400;
    position: absolute;
    margin: auto;
    z-index: -1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    

    input,
    textarea {
      padding: 20px;
      background-color: #fff;
      border: 1px solid rgb(250, 204, 21);
      color: black;
      border-radius: 5px;

    }

 
  }
}