.formContainer{
  flex: 1;
  position: relative;
  
  .phoneSvg {
    @apply stroke-yellow-400;
    position: absolute;
    margin: auto;
    z-index: -1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    

    input,
    textarea {
      padding: 20px;
      background-color: #D9D9D9;
      border: 1px solid rgb(250, 204, 21);
      color: black;
      border-radius: 5px;

    }

    button {
      padding: 20px;
      border: none;
      background-color: #FFD600;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      color: black;

    }
  }
}